@model POSSystem.Models.IndexView
@{
    ViewBag.Title = "POS System";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap.css" />

<div class="row" id="page">
    @Html.Partial("_Page", Model)
</div>

<div id="process-sale-dialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div id="cancel-sale-dialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                </h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" onclick="cancelSale()">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    function openDialog() {
        $("#cancel-sale-dialog .modal-body").html("<p>Are you Sure?</p>");
        $("#cancel-sale-dialog").modal("show");
    }
    function addProductInSale(id) {
        $.ajax({
            url: "@Url.Action("AddProductToSale", "Product", new {id = "-1" })".replace("-1", id),
            method: "GET",
            contentType:'text/html',
            success: function (data) {
                    $("#page").html(data);
                    console.log("success");
                    updateCosts();
                }
            });
    }
    function removeProductInSale(id) {
        $.ajax({
            url: "@Url.Action("DecrementQuantity", "Product", new {id = "-1" })".replace("-1", id),
            method: "GET",
            contentType:'text/html',
            success: function (data) {
                $("#page").html(data);
                console.log("success");
                updateCosts();
                }
            });
    }
    function cancelSale() {
        $.ajax({
            url: "@Url.Action("CancelSale", "Product")",
            method: "GET",
            contentType:'text/html',
            success: function (data) {
                $("#page").html(data);
                $("#cancel-sale-dialog").modal("hide");
                $("#process-sale-dialog .modal-body").html("<p>Sale is Cancelled!</p>");
                $("#process-sale-dialog").modal("show");               
                $("#SubTotal").val('0');
                $("#Total").val('0');
                }
            });
    }
    function clearSale() {
        $.ajax({
            url: "@Url.Action("CancelSale", "Product")",
            method: "GET",
            contentType:'text/html',
            success: function (data) {
                $("#page").html(data);
                $("#SubTotal").val('0');
                $("#Total").val('0');
                }
            });
    }
    function updateCosts() {
        var subTotal = 0;
        $(".total-cost").each(function () {
            subTotal = parseFloat(subTotal) + parseFloat($(this).val());
        });
        if ($("#Discount").val()) {
            subTotal = parseFloat(subTotal) - 0.01 * parseFloat($("#Discount").val()) * parseFloat(subTotal);
        }
        $("#SubTotal").val(subTotal);
        $("#Total").val(parseFloat(subTotal) + parseFloat($("#VAT").val() ? $("#VAT").val() : '0'));
    }
    function processSale() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddSale", "Sale")',
            data: {
                'VAT': $("#VAT").val(),
                'Discount': $("#Discount").val(),
                'SubTotal': $("#SubTotal").val(),
                'Total': $("#Total").val()
            },
            success: function(data){
                console.log('success!');
                $("#process-sale-dialog .modal-body").html(data);
                $("#process-sale-dialog .modal-body").find(".minus-quatity").remove();
                $("#process-sale-dialog .modal-body").find(".plus-quatity").remove();
                $("#process-sale-dialog").modal("show");
                clearSale();
                $("#SubTotal").val('0');
                $("#Total").val('0');
            }
});
    }
</script>